/* Navbar-Section */


.container-fluid {
    background-color: #9FC088;
    padding-left: 10%;
  }
  
  
  .navbar{
      padding: 1% 0% 1% 0%;
  }
  
  .navbar-brand{
      color: white;
      font-size: 2.5rem;
  }
  
  .navbar-nav{
      margin-left: 45%;
  }
  
  .nav-item{
      padding: 0px 8px;
  }
  
  .nav-link{
      color: #F7FBFC;
      font-size: 1.2rem;
  }
  
  .nav-link:hover {
    color: #614124 ;
  }